.header{
    display: flex;
    justify-content: space-between;
    border:  1px solid black;
}
.logo{
    width: 150px;
    height: 120px;
   
}
.logo:hover{
  border-radius: 50%;
  transition: ease-in-out;
}

.nav-item >ul{
display: flex;
font-size: 25px;
font-weight: 560;

list-style-type: none;
}
.nav-item >ul>li{
padding: 10px;
margin: 10px;
}
.res-cont{
    display: flex;
    flex-wrap: wrap ;
}
.res-card{
    

    padding:  15px ;
    width: 200px;
   
    
    background-color: #f0f0f0;
    overflow: hidden;
    overflow-wrap: break-word;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;

}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-card {
    width: 300px; 
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    background-color: #fff; 
    text-align: center; 
  }
  
  .res-card img.res-logo {
    width: 100%; 
   height: 220px; 
    object-fit: cover; 
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
  }
  
  .res-card h3 {
    font-size: 18px;
    margin: 8px 0; 
    color: #333; 
    font-weight: bold; 
  }
  
  .res-card h4 {
    font-size: 14px; 
    color: #666; 
    margin: 4px 0; 
  }
  .res-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 5px;
  }
  .filter{

    margin: 11px;
  }
  .filter-btn{
    width: 120px;
    font-weight: 600;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;


  }
  .filter-btn:hover{
background-color: aquamarine;
cursor: pointer;
  }
  .shimmer-cont{
    display: flex;
    flex-wrap: wrap;
  }
  .shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
  }