.header{
    display: flex;
    justify-content: space-between;
    border:  1px solid black;
    background-color: whitesmoke;
   
   
}
/* .header:hover{
  background-color: aquamarine;
  border: 3px solid black;
  border-radius: 8px;
} */
ul li a {
  text-decoration: none; 
  color: inherit;        
}
ul li a:hover {
  color: blue;           
  text-decoration: ; 
}
.logo{
    width: 150px;
    height: 120px;
   
}
.logo:hover{
  border-radius: 50%;
  transition: ease-in-out;
}

.nav-item >ul{
display: flex;
font-size: 25px;
font-weight: 560;

list-style-type: none;
}
.nav-item >ul>li{
padding: 10px;
margin: 10px;
}
.res-cont{
    display: flex;
    flex-wrap: wrap ;
}
.about span{
color: red;
margin-left: 10px;

}
.res-card{
    

    padding:  15px ;
    width: 200px;
   
    
    background-color: #f0f0f0;
    overflow: hidden;
    overflow-wrap: break-word;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;

}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.res-card {
    width: 300px; 
    border: 1px solid #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 16px; 
    background-color: #fff; 
    text-align: center; 
  }
  
  .res-card img.res-logo {
    width: 100%; 
   height: 220px; 
    object-fit: cover; 
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 12px;
  }
  
  .res-card h3 {
    font-size: 18px;
    margin: 8px 0; 
    color: #333; 
    font-weight: bold; 
  }
  
  .res-card h4 {
    font-size: 14px; 
    color: #666; 
    margin: 4px 0; 
  }
  .res-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 5px;
  }
  .filter{
display: flex;
/* margin-top: 10px; */
  }
  .filter-btn{
    width: 200px;
    height: 20px;
    font-weight: 600;
  border: 1px solid black;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  


  }
  .filter-btn:hover{
background-color: aquamarine;
cursor: pointer;
  }
  .shimmer-cont{
    display: flex;
    flex-wrap: wrap;
  }
  .shimmer-card{
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
  }
  .login-btn{
    padding: 0 35px;
    cursor: pointer;
    height: 30px;
    font-weight: 700;
    margin-top: 25px;
    margin-right: 4px;
    border-radius: 10px;
    
  }
  .login-btn:hover{
    background-color: blue;
  }
  .search-btn{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 70px;
    margin-left: 1px;
    border-radius: 7px;
  }
  .search-btn:hover{
    background-color: greenyellow;
  }